@model Domain.DataTransferObjects.DepartmentDetailsDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
    </dl>
</div>
@if (Model.Employees != null && Model.Employees.Any())
{
    <h4>Employees</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.Email</td>
                <td>
                    <a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id">View</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No employees in this department.</p>
}
@if (Model.Positions != null && Model.Positions.Any())
{
    <h4>Positions</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Free Slots</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var position in Model.Positions)
        {
            <tr>
                <td>@position.PositionName</td>
                <td>@position.FreeSlots</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No positions in this department.</p>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Department.Id">Edit</a> |
    <a asp-action="AddPositionToDepartment" asp-route-id="@Model?.Department.Id">Add New Position</a> |
    <a asp-action="Index">Back to List</a>
</div>
